* {
  margin: 0%;
  padding: 0%;
}

.header {
  background-color: rgb(155, 155, 197);
  display: flex;
}

.containers {
  height: 497px;
  display: flex;
}

.heading {
  margin-left: 400px;
}

.first {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}

.second {
  width: 800px;
}

.third {
  width: 286px;
}

.abc {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 234px;
  margin-top: 12px;
}

div img {
  position: absolute;
}

.abcd {
  width: 67px;
  height: 27px;
  margin-top: 16px;
  margin-left: 71px;
}


.downloadButton {
  margin-left: 100px;
  margin-top: 10px;
}